/* Default styles 
================================================ */

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header
================================================ */

.bg-1 {
    background-color: #f4511e;
    color: #fff;
}

.navbar .navbar-brand,
.navbar .navbar-right li>a {
    color: #fff;
    letter-spacing: 3px;    
}

.navbar {
    margin-bottom: 0;
    border-style: none;
    border-radius: 0;
}

.navbar-right {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navbar-right li:hover {
    background-color: #fff;
}

.navbar .navbar-right li>a:hover {
    color: #f4511e;
}

.bg-1.container-fluid {
    padding: 9% 0 8% 0;
}

.bg-1 h1 {
    font-size: 6rem;
    letter-spacing: 1px;
}

.bg-1 p {
    font-size: 1.9rem;
    margin: 1.5%;
}

/* About
================================================ */

.bg-2 {
    padding: 7% 2% 4% 2%;
}

.bg-2 span {
    color: #f4511e;
    font-size: 20rem;
    margin-top: 5%;
}

.bg-2 h4 {
    margin: 5% 0;
    line-height: 2.3rem;
}

.bg-2 button {
    margin: 3% 0;
}

.bg-2 p {
    color: #818181;
    line-height: 2.4rem;
}

/* Our values
============================================== */

.bg-3 {
    padding: 7% 2% 4% 2%;
    background-color: #f6f6f6;
}

.bg-3 span {
    color: #f4511e;
    font-size: 20rem;
    margin-top: 5%;
}

.bg-3 h4 {
    margin: 5% 0;
    line-height: 2.3rem;
}


.bg-3 p {
    color: #818181;
    line-height: 2.4rem;
}

/* Services
============================================ */

.bg-4 {
    padding: 5% 2% 4% 2%;
}

.bg-4 h2,
.bg-4 .row h4 {
    text-transform: uppercase;
}

.bg-4 span {
    color: #f4511e;
    font-size: 5.5rem;
    margin-top: 5%;
}

.bg-4 .row h4 {
    margin: 5% 0 7% 0;
    line-height: 2.3rem;
}


.bg-4 p {
    color: #818181;
    line-height: 2.4rem;
    margin-bottom: 10%;
}

/* Portfolio 
=============================================== */

.bg-5 {
    padding: 5% 2% 4% 2%;
    background-color: #f6f6f6;
}

.bg-5 h2 {
    text-transform: uppercase;
}

.bg-5 h4 {
    margin: 5% 0;
}

.bg-5 p {
    margin-top: 3%;
    color: #818181;
    line-height: 2.4rem;
}

/* What Our Customers Say (Carousel)
=============================================== */

.carousel-heading {
    margin-bottom: 0;
}

.item h4 {
    margin: 70px 0;
    font-style: italic;
    line-height: 1.7;
    font-size: 2rem;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item span {
    font-style: normal;
}

/* Pricing
=============================================== */

.bg-6 h2 {
    text-transform: uppercase;
    margin-top: 6%;
}
.bg-6 h4 {
    margin-bottom: 4%;
}

.panel {
    border-color: #f4511e;
    line-height: 2;
}

.panel:hover {
    box-shadow: 4px 4px 6px 1px lightgray;
}

.panel-heading {
    background-color: #f4511e;
    color: #f6f6f6;
}

.panel-title {
    font-size: 3rem;
    padding: 8%;
}

.panel-footer {
    background-color: white;
    padding: 1% 8% 8% 8%;
}

.panel-footer button {
    border: 1px solid #f4511e;
    background-color: #f4511e;
    color: white;
    padding: 4%;
    margin: 1%;
}

.panel-footer button:hover {
    background-color: white;
    color: #f4511e;
}

.panel-footer h4 {
    font-size: 1.2rem;
    margin-bottom: 13%;
}