/* Default styles 
================================================ */

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header
================================================ */

.bg-1 {
    background-color: #f4511e;
    color: #fff;
}

.navbar .navbar-brand,
.navbar .navbar-right li>a {
    color: #fff;
    letter-spacing: 3px;    
}

.navbar {
    margin-bottom: 0;
    border-style: none;
    border-radius: 0;
}

.navbar-right {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navbar-right li:hover {
    background-color: #fff;
}

.navbar .navbar-right li>a:hover {
    color: #f4511e;
}

.bg-1.container-fluid {
    padding: 9% 0 8% 0;
}

.bg-1 h1 {
    font-size: 6rem;
    letter-spacing: 1px;
}

.bg-1 p {
    font-size: 1.9rem;
    margin: 1.5%;
}

/* About
================================================ */





